APP_BIND_PORT=18083
INSIGHTFACE_PATH=/opt/fizon/insightface

RABBITMQ_USER=user
RABBITMQ_PASSWORD=pass
RABBITMQ_BIND_PORT=15572
RABBITMQ_MANAGEMENT_BIND_PORT=25672
REDIS_BIND_PORT=16379

OUT_QUEUE_PREFIX=faces.recognition.out
BACKEND_URL=http://89.111.170.130:8080
BACKEND_START_PATH=/api/lecture/start
BACKEND_STOP_PATH=/api/lecture/stop
BACKEND_DATASET_PATH=/api/service/dataset
